* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Estilizando el header*/

header {
    background-color: #f9dcc47a;
    padding: 20px;
}

.centro {
    display: flex;
    justify-content: center;
}

.posicion {
    display: flex;
    justify-content: center;
    padding: 7px;
    gap: 20px;
}

.nombre {
    align-content: center;
    padding: 2px;
}

footer {
    background-color: #f9dcc4ab;
    padding: 20px;
    gap: 10px;
    text-align: center;
}

.final {
    text-align: center;
    gap: 10px;
}
.card-body{text-align: center;}
